<h1><%= @survey.name %> Answers</h1>
<%= form_for(@survey) do |f| %>
  <% @participants.each do |participant| %>
    <h3><%= participant.name %></h3>
    <table>
      <thead>
        <tr>
          <td>Questions</td>
          <td>Answer</td>
        </tr>
      </thead>
    </table>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.content %></td>
          <td>
            <%= f.fields_for :questions, question do |q| %>
              <%= q.fields_for :answers, question.answers.find_or_initialize_by(participant: participant) do |a| %>
                <%= a.text_area :content %>
                <%= a.hidden_field :participant_id, participant.id %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
